pkgbase = linux-syno-ds1522plus
	pkgdesc = Linux kernel for the Synology DS1522+
	pkgver = 6.8.7.arch1
	pkgrel = 2
	url = https://github.com/unawarez/archlinux-linux-syno-ds1522plus
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.8.7.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.8.7.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.8.7-arch1/linux-v6.8.7-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.8.7-arch1/linux-v6.8.7-arch1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 291d1a1faf4e87b3b0ea9729080db887aafd1ff2fac1430ceca921e46bc22fae
	sha256sums = SKIP
	sha256sums = a49b47f89187d2fce6c79f263683bc06b152974b4cf8d8faee535e4bcf04adc7
	sha256sums = SKIP
	sha256sums = 2e241aa48fb44cbbc78db63ddc14257d2d1572842dbd426c74f03cdff5e2486a
	b2sums = e8626a99c6c5769a8126d5ee1c7962c3df3c7a8c689193ffa864c4a4b8e72daeeaf22c3e3bb6ba5490eca3ef64c32a4a12980360a196444a53abadd791cd1855
	b2sums = SKIP
	b2sums = ae851de7fbe18ace280440a0125e5a0d864e4d648e1161ad03c99eaabf7d228d6c9c6869520ddd14b546c14e30b17c6a191d947ad4e9652cd8af9d9ad209eef3
	b2sums = SKIP
	b2sums = 4217154da632c67190b8bf835323f7d3672ab48c222e744c92bfb353c12817369610c4eafd3b8a3ff9bbad07956426b438e5faf28f084282e5be37d0f5eb5d60

pkgname = linux-syno-ds1522plus
	pkgdesc = The Linux kernel for the Synology DS1522+ kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-syno-ds1522plus-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel for the Synology DS1522+ kernel
	depends = pahole
